#site-header {
  box-sizing: border-box;
  display: flex;
  background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  padding: 20px 20px;
  /* justify-content: center; */
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
  align-items: flex-end;
}

#site-header>.links {
  /* flex: 1; */
}

#site-header search {
  flex: 1
}

#site-header>div {
  padding: 0 0 0 20px;
}

.profile-menu {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.profile-icon .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc; /* blank placeholder */
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  min-width: 120px;
  z-index: 100;
}

.dropdown button {
  background: none;
  border: none;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f0f0f0;
}

.create-event-btn {
  border-radius: 20px;
  height: 30px;
  padding: 4px 20px;
  background-color: var(--secondary);
  line-height: 20px;
  align-items: center;
  display: flex;
  border: none;
}

.create-event-btn:hover {
  background-color: color-mix(in oklab, var(--secondary) 90%, black);
}

.create-event-btn:active {
  background-color: color-mix(in oklab, var(--secondary) 90%, white);
}